<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue.js</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<style type="text/css">
	.tab-button {
	  padding: 6px 10px;
	  border-top-left-radius: 3px;
	  border-top-right-radius: 3px;
	  border: 1px solid #ccc;
	  cursor: pointer;
	  background: #f0f0f0;
	  margin-bottom: -1px;
	  margin-right: -1px;
	}
	.tab-button:hover {
	  background: #e0e0e0;
	}
	.tab-button.active {
	  background: #e0e0e0;
	}
	.tab {
	  border: 1px solid #ccc;
	  padding: 10px;
	}
	.posts-tab {
	  display: flex;
	}
	.posts-sidebar {
	  max-width: 40vw;
	  margin: 0;
	  padding: 0 10px 0 0;
	  list-style-type: none;
	  border-right: 1px solid #ccc;
	}
	.posts-sidebar li {
	  white-space: nowrap;
	  text-overflow: ellipsis;
	  overflow: hidden;
	  cursor: pointer;
	}
	.posts-sidebar li:hover {
	  background: #eee;
	}
	.posts-sidebar li.selected {
	  background: lightblue;
	}
	.selected-post-container {
	  padding-left: 10px;
	}
	.selected-post > :first-child {
	  margin-top: 0;
	  padding-top: 0;
	}
	</style>
</head>
<body>
	<div id="app"><!-- 根实例挂载位置 -->
		<input v-model="message" placeholder="edit me">
    	<p>Message is: {{ message }}</p>
    	<span>Multiline message is:</span>
		<p style="white-space: pre-line;">{{ message1 }}</p>
		<br>
		<textarea v-model="message1" placeholder="add multiple lines"></textarea>
		<br>
		<input type="checkbox" id="checkbox" v-model="checked">
		<label for="checkbox">{{ checked }}</label>
		<br>
		<input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
  		<label for="jack">Jack</label>
  		<input type="checkbox" id="john" value="John" v-model="checkedNames">
  		<label for="john">John</label>
  		<input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
  		<label for="mike">Mike</label>
  		<br>
  		<span>Checked names: {{ checkedNames }}</span>
		<br>
  		<input type="radio" id="one" value="One" v-model="picked">
  		<label for="one">One</label>
  		<br>
  		<input type="radio" id="two" value="Two" v-model="picked">
  		<label for="two">Two</label>
  		<br>
  		<span>Picked: {{ picked }}</span>
  		<br>
  		<button-counter></button-counter>
  		<button-counter></button-counter>
  		<button-counter></button-counter>
  		<br/>
  		<blog-post
			v-for='post in posts'
			:key='post.id'
			:post='post'
			:styles='mystyle'
			@enlarge-text='myLarge'
  		></blog-post>
  		<br/>
  		<custom-input v-model='searchText'></custom-input>
  		<br/>
  		<span> {{searchText}} </span>
  		<br/>
  		<!-- 博文组件 -->
		<button
			v-for='tab in tabs'
			:key='tab'
			:class='["tab-button", { active: currentTab === tab }]'
			@click='currentTab = tab'
		>{{ tab }}</button>
		<!-- 这里class中的active会随着后边布尔值而显隐 -->
		<!-- 多标签组件 --><!-- 动态组件-仅需要在component标签外边包裹一个keep-alive标签即可 -->
		<!-- <component
			:is='currentTabComponent'
			class='tab'
		></component> -->
		<keep-alive>
			<component
				:is='currentTabComponent'
				class='tab'
			></component>
		</keep-alive>
		<!-- 作用域插槽 -->
		<navigation-link :myurl="url">
		  Your Profile
		</navigation-link>
	</div>	
</body>
<script type="text/javascript">
	/*点击次数组件*/
	Vue.component('button-counter', {
		data: function(){
			return {
				count: 0
			}
		},
		template: `<button @click="count++">you clicked me {{ count }} times!</button>`
	})
	/*博文组件*/
	Vue.component('blog-post', {
		props: ['post', 'styles'],
		template: `
		<div class="blog-post" :style="styles">
			<h3>{{ post.title }}</h3>
			<button @click="inLarge">Enlarge text</button>
			<div v-html="post.content"></div>
		</div>`,
		methods: {
			inLarge: function(){
				console.log(this.post.title);
				this.$emit('enlarge-text', this.post.title);//此处this.post.title的数据，将在myLarge函数中通过第一个参数获得
			}
		}
	})
	/*自定义input组件*/
	Vue.component('custom-input', {
		props: ['value'],
		template: `
			<input :value="value" @input="myinput">
		`,
		methods: {
			myinput: function($event){
				this.$emit('input', $event.target.value);//此处需要先传入$event，否则报错
			}
		}
	})
	/*多标签组件*/
	Vue.component('tab-home', {
		template: `<div>Home component</div>`
	})
	Vue.component('tab-posts', {
		data: function(){
			return {
				posts: [
					{
						id: 1,
						title: 'Cat Ipsum',
						content: '<p>Dont wait for the storm to pass, dance in the rain kick up litter decide to want nothing to do with my owner today demand to be let outside at once, and expect owner to wait for me as i think about it cat cat moo moo lick ears lick paws so make meme, make cute face but lick the other cats. Kitty poochy chase imaginary bugs, but stand in front of the computer screen. Sweet beast cat dog hate mouse eat string barf pillow no baths hate everything stare at guinea pigs. My left donut is missing, as is my right loved it, hated it, loved it, hated it scoot butt on the rug cat not kitten around</p>'
					},
					{
						id: 2,
						title: 'Hipster Ipsum',
						content: '<p>Bushwick blue bottle scenester helvetica ugh, meh four loko. Put a bird on it lumbersexual franzen shabby chic, street art knausgaard trust fund shaman scenester live-edge mixtape taxidermy viral yuccie succulents. Keytar poke bicycle rights, crucifix street art neutra air plant PBR&B hoodie plaid venmo. Tilde swag art party fanny pack vinyl letterpress venmo jean shorts offal mumblecore. Vice blog gentrify mlkshk tattooed occupy snackwave, hoodie craft beer next level migas 8-bit chartreuse. Trust fund food truck drinking vinegar gochujang.</p>'
					},
					{
						id: 3,
						title: 'Cupcake Ipsum',
						content: '<p>Icing dessert soufflé lollipop chocolate bar sweet tart cake chupa chups. Soufflé marzipan jelly beans croissant toffee marzipan cupcake icing fruitcake. Muffin cake pudding soufflé wafer jelly bear claw sesame snaps marshmallow. Marzipan soufflé croissant lemon drops gingerbread sugar plum lemon drops apple pie gummies. Sweet roll donut oat cake toffee cake. Liquorice candy macaroon toffee cookie marzipan.</p>'
					}
				],
				selectedPost: null
			}
		},
		/*在字符串模板中，需要使用反引号标识*/
		template: `
			<div class="posts-tab">
		      <ul class="posts-sidebar">
		        <li
		          v-for="post in posts"
		          v-bind:key="post.id"
		          v-bind:class="{ selected: post === selectedPost }"
							v-on:click="selectedPost = post"
		        >
		          {{ post.title }}
		        </li>
		      </ul>
		      <div class="selected-post-container">
		      	<div 
		        	v-if="selectedPost"
		          class="selected-post"
		        >
		          <h3>{{ selectedPost.title }}</h3>
		          <div v-html="selectedPost.content"></div>
		        </div>
		        <strong v-else>
		          Click on a blog title to the left to view it.
		        </strong>
		      </div>
		    </div>
		`
	})
	Vue.component('tab-archive', {
		template: `<div>Archive component</div>`
	})
	/*插槽*/
	Vue.component('navigation-link', {
		props: [ 'myurl' ],
		template: `
		<a v-bind:href="myurl" class="nav-link">
		  <slot></slot>
		</a>
		`
	})
	/*根实例*/
	new Vue({
		el: "#app",
		data: {
			message: '',
			message1: '',
			checked: true,
			checkedNames: [],
			picked: '',
			posts: [
				{ id:1, title: 'my journey with vue', 
				  content: 'it is a good journey' },
				{ id:2, title: 'blogging with vue',
				  content: 'it is a good blog' },
				{ id:3, title: 'my vue is so fun',
				  content: 'it is a good vue' }
			],
			mystyle: {
				fontSize: '24px',
				color: 'red'
			},
			searchText: '',
			currentTab: 'Home',
			tabs: ['Home', 'Posts', 'Archive'],
			todos: [
				{ id: 1, text: 'slot1 is me!', isComplete: true },
				{ id: 2, text: 'slot2 is you!', isComplete: false }
			],
			url: 'https://www.baidu.com/'	
		},
		methods: {
			myLarge: function(utitle){
				console.log(utitle+='+1')
			}
		},
		computed: {
			currentTabComponent: function(){
				return 'tab-' + this.currentTab.toLowerCase()
			}
		}
	})
</script>
</html>